.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") TripTipDream
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      
      form.form-inline(action='/index', method='GET')
        input.form-control.rm-sm-2(type='search', placeholder='여행지나 상품을 검색해세요!', aria-label='Search')
        
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/users') 가이드 등록하기
            li.nav-item
              a.nav-link(href='/users/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 회원가입
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 예약내역
              //- 백틱(거꾸로 찍힌 따옴표)은 ${} 이 안에 적혀 있는 내용을 그곳에 넣어주겠다고 하는 것을 표현하기 위한 것이다.
              //- 마치 파이썬에서 %s %d 이렇게 쓰던 느낌이랑 비슷한 것이다.
              //- 예를 들면, 커런트유저 아이디가 강현이라면 /users/ganghyeon이 href에 들어간다는 것이다. 
            li.nav-item
              a.nav-link(href='/signout') 로그아웃

  .container    
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(href='/') 투어&amp;티켓
      li.nav-item
        a.nav-link(href='#') 항공권
      li.nav-item
        a.nav-link(href='#') 숙소
      li.nav-item
        a.nav-link(href='#') 특가여행
      li.nav-item
        a.nav-link(href='#') 패키지
      li.nav-item
        a.nav-link(href='#') 여행자보험
      li.nav-item
        a.nav-link(href='#') 여행준비
        

          






