extends layout

block content
  .container
    section.titleAndSearch
      h1 어디로 떠나세요?
      .search
        form.form-inline(action='/index/search', method='GET')
          input.form-control.rm-sm-2(type='search', placeholder='여행지나 상품을 검색해세요!', aria-label='Search')
      
    #carouselExampleControls.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          a.silde(href='tours/index')
            img.d-block.w-100(src='public/images/worldmap.png', alt='전체 여행지')
        .carousel-item
          img.d-block.w-100(src='...', alt='...')
        .carousel-item
          img.d-block.w-100(src='...', alt='...')
      a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

    
    section
      h1 여기는 광고탭

    section
      h1 최근 본 상품


      

