extends ../layout

block content
  .container
    .title
      h1 투어&amp;티켓

    .row
      .col-4
        #list-tab.list-group(role='tablist')
          a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list', href='#list-entire', role='tab', aria-controls='entire') 전체
          a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-tour', role='tab', aria-controls='tour') 가이드 투어
          a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-ticket', role='tab', aria-controls='ticket') 티켓/교통패스
          a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-activity', role='tab', aria-controls='activity') 액티비티
          a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-snapshot', role='tab', aria-controls='snapshot') 스냅촬영
          a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-restaurant', role='tab', aria-controls='restaurant') 레스토랑
          a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-entertainment', role='tab', aria-controls='entertainment') 즐길거리
          a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-convenience', role='tab', aria-controls='convenience') 여행편의

      .col-8
        #nav-tabContent.tab-content
          #list-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='list-entire-list') ...
          #list-profile.tab-pane.fade(role='tabpanel', aria-labelledby='list-tour-list') ...
          #list-messages.tab-pane.fade(role='tabpanel', aria-labelledby='list-ticket-list') ...
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-activity-list') ...
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-snapshot-list') ...
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-restaurant-list') ...
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-entertainment-list') ...
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-convenience-list') ...





  
