extends ../layout

block content
  .container
    form(action='/users', method='POST')
      .form-group
        label(for='name') 이름 *
        input.form-control(type='text', id='name', name='name', placeholder='이름을 입력해주세요.')
      .form-group
        label(for='email') 이메일 *
        input.form-control(type='email', id='email', name='email', placeholder='ID@example.com')      
      .form-group
        label(for='password') 비밀번호 *
        input.form-control(type='password', id='password', name='password', placeholder='비밀번호')
      .form-group
        label(for='password_confirmation') 비밀번호 확인 *
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='비밀번호 확인')

      button.btn.btn-primary(type='submit') 회원가입 

