extends ../layout

block content
  .container
    form(action='/signin', method='POST')
      .form-group
        label(for='email') 이메일 *
        input(
          type='email', id='email', name='email', class='form-control', 
          placeholder='이메일', required, autofocus
        )  
      .form-group
        label(for='password') 비밀번호 *
        input(
          type='password', id='password', name='password', class='form-control', 
          placeholder='비밀번호', required, autofocus
        )

      button.btn.btn-primary(type='submit') 이메일로 로그인 
    


